
.card {
    padding: 2rem;
}

.inputs {
    font-size: 1.2rem;
}

.input-group {
    margin-bottom: 0.8rem;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    width: 100%;
    padding: 0.3rem 0.5rem;
}
